@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply sm:bg-gray-100;
    font-family: 'Roboto Condensed', sans-serif;
    @apply text-gray-900;
  }

  html,
  body,
  #__next {
    height: 100%;
  }

  svg {
    fill: currentColor;
  }
}
